{
    "useTabs": false,
    "printWidth": 160,
    "tabWidth": 4,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false,
    "trailingComma": "all",
    "parser": "typescript"
}
